<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fond.lost.losty">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="com.google.android.maps" />


        <activity android:name=".view.LogoScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".view.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".view.SearchByLocationActivity"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".view.AdvancedSearchActivity">
        </activity>

        <activity android:name=".view.JoinActivity" android:screenOrientation="portrait" ></activity>

        <activity android:name=".view.ItemDataActivity" android:screenOrientation="portrait" ></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            ></meta-data>

        <!--<meta-data android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyBOhSyDfA1rHUMrGJ_G_k32vRZVadvCDSk"-->
            <!--&gt;</meta-data>-->

        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyDCLPcNi3g6Jk8M1Fi62Twh2w8aMOeilBg"/>
    </application>

</manifest>